body {
    margin:0px;
    padding:0px;
    font-family:sans-serif
}

.header{
    display:flex;
    justify-content:space-between;
    background-color:blue;
    color:white;
    align-items:center
}

.sideHeader{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-right:10px
}

.dates{
    margin:20px
}

.dates {
    display: flex;
    align-items:center
}

.form-group{
    margin-right:20px;
    margin-left:10px;
}
