body {
    margin:0px;
    padding:0px;
    font-family:sans-serif
}

.header{
    display:flex;
    justify-content:space-between;
    background-color:blue;
    color:white;
    align-items:center
}

.sideHeader{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-right:10px
}
